.firstPage {
  height: calc(100vh - 100px);
}

.firstContainer {
  min-width: 1368px;
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.firstImageContainer {
  height: 48vh;
  width: 45%;
  max-height: 450px;
  min-width: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstTextContainer {
  height: 48vh;
  width: 45%;
  min-width: 580px;
  display: flex;
  font-size: 20px;
}

.firstBottomContainer {
  height: 490px;
}

.FBCTitle {
  font-size: 72px;
  min-width: 1108px;
}

.FBCDesc {
  font-size: 24px;
  min-width: 1108px;
  text-align: justify;
}
